:root {
    --main-color: steelblue;
    --text-dark: #000;
    --spacing: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    color: var(--text-dark);
}

/* Estructura principal */
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

main img {
    width: 190px;
    height: auto;
    border: 1px solid var(--main-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 var(--spacing) var(--spacing);
    position: relative;
    top: 10px;
}

/* Navegación */
nav {
    background-color: var(--main-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0%;
}

nav a {
    color: #fff;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

/* Títulos */
h1 {
    color:black; 
    border-bottom: 2px solid #ccc; /* Agregado borde inferior */
    padding-bottom: 0.5rem;
}

/* Aside */
.grid {
  display: grid;
  align-items: center;
  grid-template-columns: 20rem 1fr;
  gap: 2rem;
}

main {
  grid-column: 2/3;
  grid-row: 1;
  float: none;
}

aside {
  width: 20rem;
  /*margin: var(--spacing);*/
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: var(--spacing);
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
  height:100%;
  margin-top: 0%;

  grid-column: 1/2; 
  grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    top: auto;
    left: auto;
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    margin-top: 15px;
    border-top: 1px solid var(--text-dark);
    text-align: center;
}

/* Caja reutilizable */
.box {
    margin: var(--spacing);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: var(--spacing);
    background-color: #ddd;
    color: var(--text-dark);
}
